python-telegram-bot[webhooks]
fastapi
uvicorn
nest_asyncio
python-dotenv==1.0.1
requests
gdown
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
pydub
ffmpeg-python
pillow
numpy
imagehash
openai>=1.3.5
google-cloud-vision
